
<body ng-app="TravelListApp" ng-controller="DashboardCtrl">
    <div class="bodyOfDashboard">
        <div class="header">
            <h3>TRAVEL LIST</h3>
        </div>
        <div class="header2">
            <p class="">Details</p>
            <Button class="Next2" type="submit">
                <a class="Next2Text" href="#!AddTravel">Add to List</a>
            </Button>
            <!-- <div class="dropdown">
                <span class="ExportSpan">Export As</span>
                <div class="dropdown-content">
                    <Button class="ButtonInDropdown" type="submit" id="btnexport" ng-click="exportData()">
                        ExportAsExcel</Button>
                    <Button class="ButtonInDropdown" type="submit" value="ExportAsPdf"
                        ng-click="ExportAsPdf()">ExportAsPdf</Button>
                </div>
            </div> -->
        </div>

        <div class="TableWrapper" id="export" >
            <table class="Details" id="tblCustomers" ng-controller="DashboardCtrl" ng-init="getAllEmployees();getAllPayDetails();">
                <tr>
                    <th>Place</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>Duration</th>
                    <th>Cost</th>
                    <th>Members</th>
                    <th data-html2canvas-ignore="true">Edit</th>
                    <th data-html2canvas-ignore="true">Delete</th>
                    <th data-html2canvas-ignore="true">MemberDetails</th>
                    <th>Payment</th>
                </tr>
                <tr ng-repeat="employ in AllEmployeesArray" >
                    <td>{{employ.place}}</td>
                    <td>{{employ.startDate}}</td>
                    <td>{{employ.endDate}}</td>
                    <td>{{employ.duration}}</td>
                    <td>{{employ.cost}}</td>
                    <td>{{employ.members}}</td>
                    <td data-html2canvas-ignore="true" class="EditIcon"><i class="fa fa-edit"></i>
                        <div class='Child'>
                            <Button class="Next" type="submit" ng-click="editmodal(employ.listId,employ.place,employ.startDate,employ.endDate,employ.duration,employ.cost,employ.members)">Update</Button>
                        </div>
                    </td>
                    <td data-html2canvas-ignore="true">
                        <div class='Child'>
                            <Button class="Next" type="submit" ng-click="DeleteEmploy(employ.listId)">Delete</Button>
                        </div>
                    </td>
                    <td>
                        <div class='Child'>
                            <Button class="Next" type="submit" ng-click="Redirect(employ.listId,employ.place,employ.cost)">GetMembers</Button>
                        </div>
                    </td>
                    <td>
                        <div class='Child' ng-init="GetSingleValue(employ.listId)" >
                                <p id="SinglePayValue" class="Next" type="submit"  ng-click="PaymentTheBill(employ.listId)">Pending</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
