@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.SampleHeader{
  height:13vh;
  width:100vw;
  display:flex;
  background-color: rgb(3, 107, 142);
  padding:1rem;
  justify-content: space-between;
  align-items: center;
}
.LastPage1{
display:flex;
width:100vw;
height:87vh;
justify-content: center;
align-items: center;
}
.SampleHome{
  color:white;
  padding:1rem 2rem;
  background-color: rgb(4, 168, 29);
  border-radius: 5px;
}

.SampleHome:hover{
  background-color: #0ee707;
  color: #f4f4f4;
}